
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor massa id neque aliquam vestibulum morbi. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Elementum curabitur vitae nunc sed. Volutpat sed cras ornare arcu dui vivamus arcu. Volutpat est velit egestas dui id. Placerat in egestas erat imperdiet sed euismod nisi. Fringilla urna porttitor rhoncus dolor. In iaculis nunc sed augue lacus viverra vitae. Eget duis at tellus at urna. Viverra justo nec ultrices dui sapien eget mi proin. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor. Id diam maecenas ultricies mi eget mauris. Pharetra convallis posuere morbi leo urna molestie. Tortor posuere ac ut consequat semper. Egestas sed tempus urna et pharetra. Pretium nibh ipsum consequat nisl vel pretium lectus.</h2>

